<select class="form-select mb-4" name="key">

	{% if shredder_run %}
		<!-- <option value="{{shredder_run.key}}" selected>{{shredder_run.key}} </option> -->
		<option value="{{shredder_run.current_key}}" selected>{{shredder_run.current_key}}</option>

	{% else %}
		<option selected>key</option>
	<!-- <option selected>key</option> -->
	{% endif %}
	{% for note in notes_defaults %}
		<option value="{{note.name}}">{{note.name}}</option>
		<!-- <option value="{{note.id}}">{{note.id}}</option> -->
	{%endfor%}
</select>