{% if shredder_run %}

	<div id='fig_container'
		class='container-fluid'>
		{{figure|safe}}
	</div>

	<div id='scale_table'>
		<table class="table mt-4">
			<tbody> 
				<tr>
					<th scope="row">Notes:</th>
					{% for n in scale_notes %}
						<td>{{n}}</td>
					{% endfor %}
				</tr>
				<tr>
					<th scope="row">Degrees:</th>
					{% for d in scale_degrees %}
						<td>{{d}}</td>
					{% endfor %}
				</tr>
				<tr>
					<th scope="row">Intervals:</th>
					{% for i in scale_ints %}
						<td>{{i}}</td>
					{% endfor %}
				</tr>

			</tbody>
		</table>

	</div>

{% endif %}