<div id="screen_width">
	<p>Screen Width</p>
</div>
<!-- 
<form id="screen_width">

<script>
	var screenWidth = window.innerWidth;
	var screenHeight = window.innerHeight;
</script>
<input type="hidden" id="screenWidthInput" name="screenWidth">
<input type="hidden" id="screenHeightInput" name="screenHeight">

<form>

<script>
	document.addEventListener('DOMContentLoaded', function() {
	    var screenWidth = window.innerWidth; // Or screen.width
	    var screenHeight = window.innerHeight;
	    document.getElementById('screenWidthInput').value = screenWidth;
	    document.getElementById('screenHeightInput').value = screenHeight;
	    const screen_width_form = document.getElementById('screen_width');
	    if (screen_width_form){
	    	screen_width_form.submit();
	    }
	});
</script> -->