<form action="" method="post">
<!-- <form action="shredder_inputs" method="post"> -->

	{% csrf_token %}
	<div class="row">
		<div class="col-2 col-md-2">
			<select class="form-select mb-4"
				name="accidentals_defaults"
				placeholder="1"
				hx-get="{% url 'notes' %}"
				hx-trigger="load, change"
				hx-target="#notes">

				{% if shredder_run %}
					<option value="{{shredder_run.accidentals_defaults}}" selected>{{shredder_run.sharps}}</option>
				{% else %}
					<option value="1" selected>sharps</option>
				{% endif %}
				{% for acci in accidentals_defaults %}
					<option value="{{acci.pk}}">{{acci.name}}</option>
				{% endfor %}

			</select>
		</div>

		<div class="col-1 col-md-1">

			<div id="notes">
				{% include 'partials/notes.html' %}
			</div>

		</div>
			
		<div class="col-3 col-md-3">
			<select class="form-select mb-4"
				name="scale">
				{% if shredder_run %}
					<option value="{{shredder_run.scale}}" selected>{{shredder_run.scale}} </option>
				{% else %}
					<option selected>Select a scale</option>				
				{% endif %}
				{% for scale in scales_defaults %}
					<option value="{{scale.name}}">{{scale.name}}</option>
				{%endfor%}
			</select>
		</div>

		<div class="col-2 col-md-2">
			<select class="form-select mb-4"
				name="tuning">
				{% if shredder_run %}
					<option value="{{shredder_run.tuning}}" selected>{{shredder_run.tuning}} </option>
				{% else %}
					<option selected>Select a tuning</option>
				{% endif %}
				{% for tune in tunings_defaults %}
					<option value="{{tune.name}}">{{tune.name}}</option>
				{%endfor%}	



			</select>
		</div>
		
 		<div class="col-2 col-md-2 align-self-start">
			<button class="btn btn-success me-2" 
				type="submit"
				name="shredder_run"
				>Shred</button>
		</div>	
	</div>
</form>